<div class="form">
  <form (ngSubmit)="onSubmit()" class="edit-form">
    <h2>Update Restaurant</h2>
    <p>Name:<input type="text" [(ngModel)]="restaurant.name" name="name" required></p>
    <p>Description:<input type="text" [(ngModel)]="restaurant.description" name="description"></p>
    <p>Address:<input type="text" [(ngModel)]="restaurant.address" name="address" required></p>
    <p>Reviews:<input type="text" [(ngModel)]="restaurant.reviews" name="reviews"></p>
    <p>Image Link:<input type="text" [(ngModel)]="restaurant.imageUrl" name="imageUrl"></p>
    <p>
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="button" class="btn btn-warning" routerLink="/restaurants">Cancel</button>
    </p>
  </form>
</div>