/* You can add global styles to this file, and also import other style files */
/* .col-img {
    border: 1px solid black;
} */

/* .col-info {
    border: 1px solid black;
}

.col-btn {
    border: 1px solid black;
    align-items: center
} */

